@import "../../node_modules/bootstrap/scss/bootstrap";

$font-mulish: "Mulish", sans-serif;

body {
    font-family: $font-mulish;
    background-color: #F7F8FC;
}

.dashboard-side-nav {
    left: 40px;
    top: 41px;
    opacity: 0.70;
    color: #A4A6B3;
    font-size: 19px;
    font-family: $font-mulish;
    font-weight: 700;
    letter-spacing: 0.40px;
    word-wrap: break-word;
}

.custom-sidebar-bg {
    background-color: #363740;
}

.items-sidebar {
    width: 159px;
    left: 50px;
    position: absolute;
    font-family: $font-mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
}

.overview {
    color: #DDE2FF;
    top: 128px;
}

.items-sidebar {
    color: #A4A6B3;
}

#tickets, #ideas, #contacts, #agents, #articles, #settings, #subscription {
    width: 255px;
    height: 56px;
    left: 0px;
    position: absolute;
}

#tickets {
    top: 184px;
}

#ideas {
    top: 240px;
}

#contacts {
    top: 296px;
}

#agents {
    top: 352px;
}

#articles {
    top: 408px;

}

#settings {
    top: 496px;
}
#subscription {
    top: 552px;
}


.header, .data-container,.chart-container{
    font-family: $font-mulish;
}
#overview-title{
    font-weight: bold;
    font-size: 24px ;
}
#James-Name{
    width: 109px; 
    height: 18px; 
    left: 955px; 
    top: 13px; 
    text-align: right; 
    color: #252733; 
    font-size: 14px;
    margin: 10px;
}
#James-pic{
    width: 44px;
    height: 44px;
    left: 1078px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid #DFE0EB;
    padding: 2px;
}
#search{
    margin-right: 20px;
}


$primary-color: #007bff;

body {
  font-family: sans-serif;
}

h1 {
  color: $primary-color;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  text-align: left;
}

td {
  text-align: right;
}
.card {
    display: flex;
    flex-direction: column;
    height: 134px;
    width: 258px;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: bold;
    font-size: 19px;
    
    .card-text{
        color: #9FA2B4;
        
    }
  
}
.blue-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #3751FF;
    font-weight: bold;
    font-size: 19px;
}

.chart-container{
    background-color: white;
    border: 1px solid #DFE0EB;
    border-radius: 5px;
    width: 1200px;
    height: 546px;
    left: 285px;


}