@import "../../node_modules/bootstrap/scss/bootstrap";

$font-mulish: "Mulish", sans-serif;

body {
    font-family: $font-mulish;
}

.dashboard-side-nav {
    left: 40px;
    top: 41px;
    opacity: 0.70;
    color: #A4A6B3;
    font-size: 19px;
    font-family: $font-mulish;
    font-weight: 700;
    letter-spacing: 0.40px;
    word-wrap: break-word;
}

.custom-sidebar-bg {
    background-color: #363740;
}

.items-sidebar {
    width: 159px;
    left: 50px;
    position: absolute;
    font-family: $font-mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
}

.overview {
    color: #DDE2FF;
    top: 128px;
}

.items-sidebar {
    color: #A4A6B3;
}

#tickets, #ideas, #contacts, #agents, #articles, #settings, #subscription {
    width: 255px;
    height: 56px;
    left: 0px;
    position: absolute;
}

#tickets {
    top: 184px;
}

#ideas {
    top: 240px;
}

#contacts {
    top: 296px;
}

#agents {
    top: 352px;
}

#articles {
    top: 408px;

}

#settings {
    top: 496px;
}
#subscription {
    top: 552px;
}

#overview-title{
    font-weight: bold;
    font-size: 24px ;
}
#James-Name{
    width: 109px; 
    height: 18px; 
    left: 955px; 
    top: 13px; 
    text-align: right; 
    color: #252733; 
    font-size: 14px;
    margin: 10px;
}
#James-pic{
    width: 44px;
    height: 44px;
    left: 1078px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid #DFE0EB;
    padding: 2px;
}
#search{
    margin-right: 20px;
}
